html{
    width: 100%;
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(255,255,255,1) 11%, rgba(9,40,121,1) 50%, rgba(255,0,54,1) 88%);
}
.full-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    position: relative;
}
.full-wrapper > div{
    align-self: center;
    background: radial-gradient(circle, rgba(218,238,174,1) 0%, rgba(148,187,233,1) 100%);
    outline: #59bfef;
    box-shadow: 3px 3px 5px #276a8a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 3px;
    margin: 3px;
    min-width: 600px;
    min-height: 50px;
    max-width: 1000px;
    border: 2px solid rgba(148,187,233,1);
    border-radius: 4px;
}
.full-wrapper > div.white {
    background: #cef2fa;
}

.title span{
    font-weight: bold;
    font-size: 30px;
    font-family: Damascus, serif;
    text-align: center;
    padding: 5px;
}

.start-params >div{
    margin-right: 20px;
}
.start-params label{
    margin-right: 7px;
}
.header-buttons > button{
    margin-right: 10px;
    border: 2px solid rgba(142, 173, 74);
    border-radius: 4px;
    box-shadow: 3px 3px 5px #276a8a;
    min-width: 75px;
    min-height: 30px;
}
button:hover{
    cursor: pointer;
}
#start{
    background-color: aquamarine;
}
#stop{
    background-color: #f0576c;
}
#clean{
    background-color: khaki;
}
#draw{
    background-color: peachpuff;
}
#generation{
    background-color: darkolivegreen;
}
.full-wrapper .life-surface{
    min-width: 700px;
    max-width: 700px;
    min-height: 700px;
    max-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    z-index: 10;
}
.surface-row{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    z-index: 10;
}
.cell{
    width: 100%;
    height: 100%;
    background-color: #cef2fa;
    z-index: 99;
}
.cell[cell-state = '1']{
    background-color: #800e61;
    color: white;
    font-size: large;
}
